mixin feather-svg(name)
  svg(
    width='24'
    height='24'
    fill='none'
    stroke='currentColor'
    stroke-width='2'
    stroke-linecap='round'
    stroke-linejoin='round'
  ).icon
    use(xlink:href='../node_modules/feather-icons/dist/feather-sprite.svg#' + name)

mixin timerBody
  section.timer__body
    header.timer__header Untitled
    div: input.timer__duration(type='range')
    div.timer__body__body
      div.timer__counter
        span.timer__counter__digit 03
        span.timer__counter__label H
        span.timer__counter__digit 08
        span.timer__counter__label M
        span.timer__counter__digit 38
        span.timer__counter__label S
      button
        +feather-svg('play')

html
  head
    link(rel='stylesheet' href='./main.styl')
    link(href='https://fonts.googleapis.com/css?family=Arimo|Yantramanav:100' rel='stylesheet')

  body

    div.component-list

      div.component-container
        div.timer
          +timerBody

      div.component-container
        div.timer--expanded
          header.timer__control
            button: +feather-svg('bell')
            button: +feather-svg('star')
            button: +feather-svg('x')

          +timerBody

          footer.timer__control
            span: button: +feather-svg('copy')
            span: button: +feather-svg('rotate-cw')
            span: button: +feather-svg('edit-2')

